<!DOCTYPE html>
<html ng-app="supdoc" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <!-- meta name="twitter:site" content="@joshdmiller" -->
    <meta name="twitter:title" content="supdoc">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <!--meta name="twitter:creator" content="@joshdmiller"-->
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="supdoc" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/supdoc" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="/assets/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='/assets/googlefont/css/font_inconsolata_default.css' rel='stylesheet' type='text/css'>
    <link href="/assets/googlefont/css/font_lato_default.css" rel="stylesheet" type="text/css">
    <link href='/assets/googlefont/css/font_neuton_default.css' rel='stylesheet' type='text/css'>
    <link href='/assets/googlefont/css/font_roboto_default.css' rel='stylesheet' type='text/css'>
    <link href='/assets/googlefont/css/font_roboto condensed_default.css' rel='stylesheet' type='text/css'>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script><% }); %>

  </head>
  <body>
    <ng-include src="'nav/navbar.tpl.html'"></ng-include>
    <div class="container">
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <!--ul class="social">
            <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="fa fa-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="fa fa-twitter-sign"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin-sign"></i></a></li>
            <li><a target="_blank" href="http://github.com/ngbp/ngbp"><i class="fa fa-github-sign"></i></a></li>
          </ul-->
          
          <p class="fine-print">
            &copy; 2015 <a href="http://alexsamuel.net">Alex Samuel</a>. 
            <br />
            SupDoc is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>,
            <a href="https://github.com/ngbp/ngbp">ngbp</a>.     
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
