<div class="binding" ng-controller="BindingDirCtrl">
  <div class="title">
    <span class="name">{{name}}</span><!--
    --><span ng-if="signature" class="signature"><!--
      -->(<span class="param-list"><!--
        --><span ng-repeat="param in signature" class="param-name">{{param}}</span><!--
      --></span>)
    </span>
    <span ng-if="doc['$ref']">
      <i class="fa fa-long-arrow-right"></i> <ref ref="doc['$ref']">
    </span>
    <span ng-if="showRepr">
      = <span class="repr">{{doc.repr}}</span>
    </span>
  </div>
  <div>
    <span class="name" ng-if="doc.name">{{doc.name}}</span>
    <span ng-if="doc.module">
      from module 
      <ref ref="doc.module['$ref']">
    </span>
  </div>
  <pre class="docstring" ng-show="doc.docs.doc">
    {{doc.docs.doc.trim()}}
  </pre>

  <dl ng-if="! isRef" class="dl-horizontal">
    <dt>type</dt>
    <dd>&nbsp;<ref ref="doc.type['$ref']"></ref></dd>

    <dt ng-if="doc.qualname">qualname</dt>
    <dd ng-if="doc.qualname">&nbsp;<span class="name">{{doc.qualname}}</span></dd>

    <dt ng-if="doc.repr">repr</dt>
    <dd ng-if="doc.repr" class="repr">&nbsp;{{doc.repr}}</dd>

    <dt ng-if="doc.bases">bases</dt>
    <dd ng-if="doc.bases">&nbsp;
      <span ng-repeat="base in doc.bases">
        <ref ref="base['$ref']"></ref>
      </span>
    </dd>
  </div>
  </dl>

  <div class="dict">
    <ul>
      <li ng-repeat="(name, objDoc) in doc.dict">
        <div class="dict-entry">
          <binding name="{{name}}" doc="objDoc"></binding>
        </div>
      </li>
    </ul>
  </div>  
</div>
