.module {

  .name {
    .code-font;
    color: #005060;
  }

  .repr {
    .code-font;
    color: #505050;
  }

  .docstring {
    .code-font;
    background: none;
    border: none;
  }

  .dict-entry {
    width: 90%;
    border: 1px solid #d0d0d0;
    border-left-width: 6px;
    padding: 6px 12px;
    margin: 8px 0 12px 0;
    border-radius: 2px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

}
